## Install beautifulsoup4 to scrap webpage

In [ ]:
pip install beautifulsoup4

## Import requests package to get the html content of a webpage 
## Then get the html content of the canada postal codes webpage into a variable

In [1]:
import requests
html_content = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

### Parse the content using beautiful soup html parser and print it

In [2]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')
#print(soup.prettify()) # print the parsed data of html

## Print the title of the webpage

In [3]:
print(soup.title)

<title>List of postal codes of Canada: M - Wikipedia</title>

### By doing webpage inspect get the class name of the table and assign that table to a variable
### Get the header of the table using tag "th" and print the headers after removing spaces and new line character

In [30]:
canada_table = soup.find("table", attrs={"class": "wikitable sortable"})

t_headers = []
for th in canada_table.find_all("th"):
 # remove any newlines and extra spaces from left and right
 t_headers.append(th.text.replace('\n', ' ').strip())        
   
    
print(t_headers)

['Postal Code', 'Borough', 'Neighborhood']

## Get all rows from the table's body and assign that to an array

In [5]:
    table_data = []
    for tr in canada_table.tbody.find_all("tr"): # find all tr's from table's tbody
        t_row = {}
        # Each table row is stored in the form of
        # t_row = {'Postal Code': '', 'Borough': '', 'Neighborhood': ''}

        # find all td's(3) in tr and zip it with t_header
        for td, th in zip(tr.find_all("td"), t_headers): 
            t_row[th] = td.text.replace('\n', '').strip()
        table_data.append(t_row)

#Remove first record
table_data.pop(0) 
print(table_data[0])

{'Postal Code': 'M1A', 'Borough': 'Not assigned', 'Neighborhood': 'Not assigned'}

## Import pandas to create data frame

In [6]:
import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

## Define the data frame columns and instantiate the data frame

In [34]:
# define the dataframe columns
column_names = ['PostalCode', 'Borough', 'Neighborhood'] 

# instantiate the dataframe
neighborhoods = pd.DataFrame(columns=column_names)
neighborhoods

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

## Get the values form array and assign it to the corresponding columns in the data frame

In [39]:
for data in table_data:
    Borough = data['Borough']
    PostalCode = data['Postal Code']
    Neighborhood = data['Neighborhood']
    
    
    neighborhoods = neighborhoods.append({'Borough': Borough,
                                          'PostalCode': PostalCode,
                                          'Neighborhood': Neighborhood}, ignore_index=True)
neighborhoods.shape

(180, 3)

## Combine rows into one row with the neighborhoods separated with a comma if there are more than one neighborhood for a given Postalcode and Borough

In [ ]:
neighborhoods_grouped = neighborhoods.groupby(['PostalCode', 'Borough']).agg(','.join)
neighborhoods_grouped = neighborhoods_grouped.reset_index()

In [21]:
neighborhoods_grouped.head()

  PostalCode       Borough                            Neighborhood
0        M1A  Not assigned                            Not assigned
1        M1B   Scarborough                          Malvern, Rouge
2        M1C   Scarborough  Rouge Hill, Port Union, Highland Creek
3        M1E   Scarborough       Guildwood, Morningside, West Hill
4        M1G   Scarborough                                  Woburn

## If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [23]:
neighborhoods_grouped.loc[neighborhoods_grouped['Neighborhood'] == 'Not assigned' , 'Neighborhood'] = neighborhoods_grouped['Borough']
neighborhoods_grouped.head(10)

  PostalCode       Borough                                     Neighborhood
0        M1A  Not assigned                                     Not assigned
1        M1B   Scarborough                                   Malvern, Rouge
2        M1C   Scarborough           Rouge Hill, Port Union, Highland Creek
3        M1E   Scarborough                Guildwood, Morningside, West Hill
4        M1G   Scarborough                                           Woburn
5        M1H   Scarborough                                        Cedarbrae
6        M1J   Scarborough                              Scarborough Village
7        M1K   Scarborough      Kennedy Park, Ionview, East Birchmount Park
8        M1L   Scarborough                  Golden Mile, Clairlea, Oakridge
9        M1M   Scarborough  Cliffside, Cliffcrest, Scarborough Village West

## To print the number of rows of dataframe

In [35]:
neighborhoods_grouped.shape

(180, 3)

In [41]:
pip install geocoder

Collecting geocoder
  Downloading https://files.pythonhosted.org/packages/4f/6b/13166c909ad2f2d76b929a4227c952630ebaf0d729f6317eb09cbceccbab/geocoder-1.38.1-py2.py3-none-any.whl (98kB)
     |████████████████████████████████| 102kB 6.0MB/s ta 0:00:011
Collecting click (from geocoder)
  Using cached https://files.pythonhosted.org/packages/d2/3d/fa76db83bf75c4f8d338c2fd15c8d33fdd7ad23a9b5e57eb6c5de26b430e/click-7.1.2-py2.py3-none-any.whl
Requirement already satisfied: requests in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from geocoder) (2.24.0)
Collecting ratelim (from geocoder)
  Downloading https://files.pythonhosted.org/packages/f2/98/7e6d147fd16a10a5f821db6e25f192265d6ecca3d82957a4fdd592cad49c/ratelim-0.1.6-py2.py3-none-any.whl
Requirement already satisfied: six in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from geocoder) (1.15.0)
Collecting future (from geocoder)
  Downloading https://files.pythonhosted.org/packages/45/0b/38b06fd9b92dc2b68d58b75f900e97884c45bedd2ff83203d933cf5851c9/future-0.18.2.tar.gz (829kB)
     |████████████████████████████████| 829kB 6.9MB/s eta 0:00:01
Requirement already satisfied: chardet<4,>=3.0.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->geocoder) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->geocoder) (1.25.9)
Requirement already satisfied: idna<3,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->geocoder) (2.10)
Requirement already satisfied: decorator in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from ratelim->geocoder) (4.4.2)
Building wheels for collected packages: future
  Building wheel for future (setup.py) ... done
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/8b/99/a0/81daf51dcd359a9377b110a8a886b3895921802d2fc1b2397e
Successfully built future
Installing collected packages: click, ratelim, future, geocoder
Successfully installed click-7.1.2 future-0.18.2 geocoder-1.38.1 ratelim-0.1.6
Note: you may need to restart the kernel to use updated packages.

In [68]:
!wget -q -O 'Geospatial_Coordinates.csv' http://cocl.us/Geospatial_data
print('Data downloaded!')

Data downloaded!

In [70]:
Geospatial_Coordinates = pd.read_csv('Geospatial_Coordinates.csv', skiprows = 1)
Geospatial_Coordinates.columns=["PostalCode","Latitude","Longitude"]
Geospatial_Coordinates

    PostalCode   Latitude  Longitude
0          M1C  43.784535 -79.160497
1          M1E  43.763573 -79.188711
2          M1G  43.770992 -79.216917
3          M1H  43.773136 -79.239476
4          M1J  43.744734 -79.239476
5          M1K  43.727929 -79.262029
6          M1L  43.711112 -79.284577
7          M1M  43.716316 -79.239476
8          M1N  43.692657 -79.264848
9          M1P  43.757410 -79.273304
10         M1R  43.750072 -79.295849
11         M1S  43.794200 -79.262029
12         M1T  43.781638 -79.304302
13         M1V  43.815252 -79.284577
14         M1W  43.799525 -79.318389
15         M1X  43.836125 -79.205636
16         M2H  43.803762 -79.363452
17         M2J  43.778517 -79.346556
18         M2K  43.786947 -79.385975
19         M2L  43.757490 -79.374714
20         M2M  43.789053 -79.408493
21         M2N  43.770120 -79.408493
22         M2P  43.752758 -79.400049
23         M2R  43.782736 -79.442259
24         M3A  43.753259 -79.329656
25         M3B  43.745906 -79.352188
26         M3C  43.725900 -79.340923
27         M3H  43.754328 -79.442259
28         M3J  43.767980 -79.487262
29         M3K  43.737473 -79.464763
30         M3L  43.739015 -79.506944
31         M3M  43.728496 -79.495697
32         M3N  43.761631 -79.520999
33         M4A  43.725882 -79.315572
34         M4B  43.706397 -79.309937
35         M4C  43.695344 -79.318389
36         M4E  43.676357 -79.293031
37         M4G  43.709060 -79.363452
38         M4H  43.705369 -79.349372
39         M4J  43.685347 -79.338106
40         M4K  43.679557 -79.352188
41         M4L  43.668999 -79.315572
42         M4M  43.659526 -79.340923
43         M4N  43.728020 -79.388790
44         M4P  43.712751 -79.390197
45         M4R  43.715383 -79.405678
46         M4S  43.704324 -79.388790
47         M4T  43.689574 -79.383160
48         M4V  43.686412 -79.400049
49         M4W  43.679563 -79.377529
50         M4X  43.667967 -79.367675
51         M4Y  43.665860 -79.383160
52         M5A  43.654260 -79.360636
53         M5B  43.657162 -79.378937
54         M5C  43.651494 -79.375418
55         M5E  43.644771 -79.373306
56         M5G  43.657952 -79.387383
57         M5H  43.650571 -79.384568
58         M5J  43.640816 -79.381752
59         M5K  43.647177 -79.381576
60         M5L  43.648198 -79.379817
61         M5M  43.733283 -79.419750
62         M5N  43.711695 -79.416936
63         M5P  43.696948 -79.411307
64         M5R  43.672710 -79.405678
65         M5S  43.662696 -79.400049
66         M5T  43.653206 -79.400049
67         M5V  43.628947 -79.394420
68         M5W  43.646435 -79.374846
69         M5X  43.648429 -79.382280
70         M6A  43.718518 -79.464763
71         M6B  43.709577 -79.445073
72         M6C  43.693781 -79.428191
73         M6E  43.689026 -79.453512
74         M6G  43.669542 -79.422564
75         M6H  43.669005 -79.442259
76         M6J  43.647927 -79.419750
77         M6K  43.636847 -79.428191
78         M6L  43.713756 -79.490074
79         M6M  43.691116 -79.476013
80         M6N  43.673185 -79.487262
81         M6P  43.661608 -79.464763
82         M6R  43.648960 -79.456325
83         M6S  43.651571 -79.484450
84         M7A  43.662301 -79.389494
85         M7R  43.636966 -79.615819
86         M7Y  43.662744 -79.321558
87         M8V  43.605647 -79.501321
88         M8W  43.602414 -79.543484
89         M8X  43.653654 -79.506944
90         M8Y  43.636258 -79.498509
91         M8Z  43.628841 -79.520999
92         M9A  43.667856 -79.532242
93         M9B  43.650943 -79.554724
94         M9C  43.643515 -79.577201
95         M9L  43.756303 -79.565963
96         M9M  43.724766 -79.532242
97         M9N  43.706876 -79.518188
98         M9P  43.696319 -79.532242
99         M9R  43.688905 -79.554724
100        M9V  43.739416 -79.588437
101        M9W  43.706748 -79.594054

In [71]:
merged_inner = pd.merge(left=neighborhoods_grouped, right=Geospatial_Coordinates, left_on='PostalCode', right_on='PostalCode')
merged_inner.head(10)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
1,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
2,M1G,Scarborough,Woburn,43.770992,-79.216917
3,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
4,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
5,M1K,Scarborough,"Kennedy Park, Ionview, East Birchmount Park",43.727929,-79.262029
6,M1L,Scarborough,"Golden Mile, Clairlea, Oakridge",43.711112,-79.284577
7,M1M,Scarborough,"Cliffside, Cliffcrest, Scarborough Village West",43.716316,-79.239476
8,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848
9,M1P,Scarborough,"Dorset Park, Wexford Heights, Scarborough Town...",43.757410,-79.273304